# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# Node modules
node_modules/

# macOS
.DS_Store

!/broadcast              # Allow broadcast folder
/broadcast/*/31337/     # But ignore local Anvil deployments (chainId 31337)
/broadcast/**/dry-run/  # And ignore dry-run simulations
.claude/settings.json
